@import "tailwindcss";

:root {
    --background: #ffffff;
    --foreground: #171717;
    --primary: #00AE73;
    --muted: #154261;
}

@theme inline {
    --color-background: var(--background);
    --color-foreground: var(--foreground);
    --color-primary: var(--primary);
    --color-muted: var(--muted);
    --font-sans: var(--font-geist-sans);
    --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
    :root {
        --background: #0a0a0a;
        --foreground: #ededed;
        --primary: #17CD8F;
        --muted: #ADD2EC;
    }
}

body {
    background: var(--background);
    color: var(--foreground);
    font-family: Arial, Helvetica, sans-serif;
}
