@import "tailwindcss";


@theme inline {
    --color-background: var(--background);
    --color-foreground: var(--foreground);
    --color-primary: var(--primary);
    --color-muted: var(--muted);
}

:root {
    --font-mono: 'Roboto Mono', monospace;
    --background: #ffffff;
    --foreground: #171717;
    --primary: #00AE73;
    --muted: #154261;
}

@media (prefers-color-scheme: dark) {
    :root {
        --background: #0a0a0a;
        --foreground: #ededed;
        --primary: #17CD8F;
        --muted: #ADD2EC;
    }
}

* {
    box-sizing: border-box;
}

html {
    font-size: 18px;
    line-height: 32px;

    -webkit-font-smoothing: antialiased;
}

html,
body,
#app {
    height: 100%;
}

body {
    font-family: system-ui;

    margin: 0;
    background: var(--background);
    color: var(--foreground);
}
