@import "tailwindcss";


@theme inline {
    --color-background: var(--background);
    --color-foreground: var(--foreground);
    --color-primary: var(--primary);
    --color-secondary: var(--secondary);
    --color-muted: var(--muted);
    --color-border: var(--border);
    --font-text: var(--font-inter);
    --font-display: var(--font-space-mono);
}

:root {
    --font-mono: 'Roboto Mono', monospace;
    --background: #ffffff;
    --foreground: #171717;
    --primary: #00AE73;
    --secondary: #154261;
    --muted: #62748E;
    --border: #E7E7E7;
    --font-inter: 'Inter', sans-serif;
    --font-space-mono: 'Space Mono', sans-serif;
}

@media (prefers-color-scheme: dark) {
    :root {
        --background: #0a0a0a;
        --foreground: #ededed;
        --primary: #17CD8F;
        --secondary: #ADD2EC;
        --muted: #8b9bb8;
        --border: var(--color-slate-800);
    }
}

* {
    box-sizing: border-box;
}

html {
    font-size: 18px;
    line-height: 32px;

    -webkit-font-smoothing: antialiased;
}

html,
body,
#app {
    height: 100%;
}

body {
    font-family: var(--font-text), Arial, Helvetica, sans-serif;

    margin: 0;
    background: var(--background);
    color: var(--foreground);
}

.grid-background::before {
    --size: 56px;
    background:linear-gradient(to left, transparent, transparent calc(var(--size) - 1px), var(--color-border) calc(var(--size) - 1px), var(--color-border) var(--size)), linear-gradient(to bottom, transparent, transparent calc(var(--size) - 1px), var(--color-border) calc(var(--size) - 1px), var(--color-border) var(--size)) repeat;
    background-size: var(--size) var(--size);
    animation: backgroundPan 5s linear infinite;
    content: "";
    position: absolute;
    inset: 0;
    pointer-events: none;
    z-index: -2;
}

.grid-background::after{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: radial-gradient(circle, rgb(from var(--color-background) r g b / 0.8) 20%, transparent 100%), linear-gradient(
        to bottom,
        transparent 80%,
        var(--color-background) 100%
    );
    pointer-events: none;
    z-index: -1;
}

@keyframes backgroundPan {
    from {
        background-position: 0 0;
    }
    to {
        background-position: var(--size) 0;
    }
}

.progressive-blur {
    position: absolute;
    z-index: -1;
    inset: 0;
    pointer-events: none;
}
.progressive-blur > div,
.progressive-blur::before,
.progressive-blur::after {
    position: absolute;
    inset: 0;
}
.progressive-blur::before {
    content: "";
    z-index: 1;
    backdrop-filter: blur(0.5px);
    mask: linear-gradient(
            to top,
            rgba(0, 0, 0, 0) 0%,
            rgba(0, 0, 0, 1) 12.5%,
            rgba(0, 0, 0, 1) 25%,
            rgba(0, 0, 0, 0) 37.5%
    );
}
.progressive-blur > div:nth-of-type(1) {
    z-index: 2;
    backdrop-filter: blur(1px);
    mask: linear-gradient(
            to top,
            rgba(0, 0, 0, 0) 12.5%,
            rgba(0, 0, 0, 1) 25%,
            rgba(0, 0, 0, 1) 37.5%,
            rgba(0, 0, 0, 0) 50%
    );
}
.progressive-blur > div:nth-of-type(2) {
    z-index: 3;
    backdrop-filter: blur(2px);
    mask: linear-gradient(
            to top,
            rgba(0, 0, 0, 0) 25%,
            rgba(0, 0, 0, 1) 37.5%,
            rgba(0, 0, 0, 1) 50%,
            rgba(0, 0, 0, 0) 62.5%
    );
}
.progressive-blur > div:nth-of-type(3) {
    z-index: 4;
    backdrop-filter: blur(4px);
    mask: linear-gradient(
            to top,
            rgba(0, 0, 0, 0) 37.5%,
            rgba(0, 0, 0, 1) 50%,
            rgba(0, 0, 0, 1) 62.5%,
            rgba(0, 0, 0, 0) 75%
    );
}
.progressive-blur > div:nth-of-type(4) {
    z-index: 5;
    backdrop-filter: blur(8px);
    mask: linear-gradient(
            to top,
            rgba(0, 0, 0, 0) 50%,
            rgba(0, 0, 0, 1) 62.5%,
            rgba(0, 0, 0, 1) 75%,
            rgba(0, 0, 0, 0) 87.5%
    );
}
.progressive-blur > div:nth-of-type(5) {
    z-index: 6;
    backdrop-filter: blur(16px);
    mask: linear-gradient(
            to top,
            rgba(0, 0, 0, 0) 62.5%,
            rgba(0, 0, 0, 1) 75%,
            rgba(0, 0, 0, 1) 87.5%,
            rgba(0, 0, 0, 0) 100%
    );
}
.progressive-blur > div:nth-of-type(6) {
    z-index: 7;
    backdrop-filter: blur(32px);
    mask: linear-gradient(
            to top,
            rgba(0, 0, 0, 0) 75%,
            rgba(0, 0, 0, 1) 87.5%,
            rgba(0, 0, 0, 1) 100%
    );
}
.progressive-blur::after {
    content: "";
    z-index: 8;
    backdrop-filter: blur(64px);
    mask: linear-gradient(
            to top,
            rgba(0, 0, 0, 0) 87.5%,
            rgba(0, 0, 0, 1) 100%
    );
}

@supports (corner-shape: squircle) {
    .squircle {
        corner-shape: squircle;
    }

    .rounded-xs {
        border-radius: var(--radius-sm) /* 0.375rem = 6px */;
        corner-shape: squircle;
    }

    .rounded-sm {
        border-radius: var(--radius-md) /* 0.5rem = 8px */;
        corner-shape: squircle;
    }

    .rounded-md {
        border-radius: var(--radius-lg) /* 0.625rem = 10px */;
        corner-shape: squircle;
    }

    .rounded-lg {
        border-radius: var(--radius-xl) /* 0.75rem = 12px */;
        corner-shape: squircle;
    }

    .rounded-xl {
        border-radius: var(--radius-2xl) /* 1rem = 16px */;
        corner-shape: squircle;
    }

    .rounded-2xl {
        border-radius: var(--radius-3xl) /* 1.5rem = 24px */;
        corner-shape: squircle;
    }

    .rounded-3xl {
        border-radius: var(--radius-4xl) /* 2rem = 32px */;
        corner-shape: squircle;
    }
}

.action-button > span{
    position: relative;
}

.action-button > span::before {
    content: "";
    position: absolute;
    bottom: 2px;
    left: 0;
    height: 0.5rem;
    width: 0;
    transition: width 0.3s ease, background-color 0.3s ease;
    background-color: var(--color-muted);
    z-index: -1;
}

.action-button:hover > span::before{
    width: 80%;
    background-color: var(--color-primary);
}